{% extends ("@FOSUser/layout.html.twig") %}
{% block title %}Index{% endblock %}
    {% block stylesheets %}
    {{ parent() }}
    {% endblock %}

{% block content %}
    {% block topbody %}
        {{ parent() }}
        {% endblock %}
    <!-- Map
    ================================================== -->
    <div id="map-container" class="homepage-map margin-bottom-0">

        <div id="map">
            <!-- map goes here -->
        </div>

        <!-- Map Navigation -->
        <a href="#" id="scrollEnabling" title="Enable or disable scrolling on map">Enable Scrolling</a>
        <ul id="mapnav-buttons">
            <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
            <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
        </ul>


        <!-- Main Search Container -->
        <div class="main-search-container">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Trigger Button -->
                        <a href="#" class="adv-search-btn button">Advanced Search <i class="fa fa-caret-up"></i></a>

                        <!-- Main Search -->
                        <form class="main-search-form">

                            <!-- Type -->
                            <div class="search-type" style="display: none;">
                                <label class="active"><input class="first-tab" name="tab" checked="checked" type="radio">Any Status</label>
                                <label><input name="tab" type="radio">For Sale</label>
                                <label><input name="tab" type="radio">For Rent</label>
                                <div class="search-type-arrow"></div>
                            </div>


                            <!-- Box -->
                            <div class="main-search-box">

                                <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Status -->
                                    <div class="col-md-3 col-sm-6">
                                        <select data-placeholder="Departure" class="chosen-select-no-single">
                                            <option>Tunis
                                            <option>Arianna
                                            <option>Ben Arous
                                        </select>
                                    </div>

                                    <!-- Property Type -->
                                    <div class="col-md-3 col-sm-6">
                                        <select data-placeholder="Destination" class="chosen-select-no-single">
                                            <option>Tunis
                                            <option>Arianna
                                        </select>
                                    </div>

                                    <!-- Main Search Input -->
                                    <div class="col-md-6">
                                        <div class="main-search-input">
                                            <input type="text" placeholder="Enter address e.g. street, city or state" value="">
                                            <button class="button">Search</button>
                                        </div>
                                    </div>

                                </div>
                                <!-- Row With Forms / End -->


                                <!-- Row With Forms -->
                                <div class="row with-forms">

                                    <!-- Min Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Seats" data-unit="Person">

                                            <select>
                                                <option>1
                                                <option>2
                                                <option>3
                                                <option>4
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>

                                    <!-- Max Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Vehicule Type" data-unit="Sq Ft">

                                            <select>
                                                <option>Economical
                                                <option>Medium
                                                <option>Luxurious
                                            </select>

                                        </div>
                                        <!-- Select Input / End -->

                                    </div>


                                    <!-- Min Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Min Price Per Person" data-unit="Dt">
                                            <select>
                                                <option>Min Price
                                                <option>1 000
                                                <option>2 000
                                                <option>3 000
                                                <option>4 000
                                                <option>5 000
                                                <option>10 000
                                                <option>15 000
                                                <option>20 000
                                                <option>30 000
                                                <option>40 000
                                                <option>50 000
                                                <option>60 000
                                                <option>70 000
                                                <option>80 000
                                                <option>90 000
                                                <option>100 000
                                                <option>110 000
                                                <option>120 000
                                                <option>130 000
                                                <option>140 000
                                                <option>150 000
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>


                                    <!-- Max Price -->
                                    <div class="col-md-3 col-sm-6">

                                        <!-- Select Input -->
                                        <div class="select-input disabled-first-option">
                                            <input type="text" placeholder="Max Price Per Person" data-unit="Dt">
                                            <select>
                                                <option>Max Price
                                                <option>1 000
                                                <option>2 000
                                                <option>3 000
                                                <option>4 000
                                                <option>5 000
                                                <option>10 000
                                                <option>15 000
                                                <option>20 000
                                                <option>30 000
                                                <option>40 000
                                                <option>50 000
                                                <option>60 000
                                                <option>70 000
                                                <option>80 000
                                                <option>90 000
                                                <option>100 000
                                                <option>110 000
                                                <option>120 000
                                                <option>130 000
                                                <option>140 000
                                                <option>150 000
                                            </select>
                                        </div>
                                        <!-- Select Input / End -->

                                    </div>

                                </div>
                                <!-- Row With Forms / End -->

                            </div>
                            <!-- Box / End -->

                        </form>
                        <!-- Main Search -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Search Container / End -->

    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline margin-bottom-25 margin-top-60">Latest rides shared</h3>
                <h4><a href="{{ path('trajets') }}">See All!</h4>
            </div>

            <!-- Carousel -->
            <div class="col-md-12">
                <div class="carousel">
                {% for trajet in trajets %}
                    <!-- Listing Item -->
                    <div class="carousel-item">
                        <div class="listing-item">

                            <a href="trajets#{{ trajet[0].id }}" class="listing-img-container">

                                <div class="listing-badges">
                                    <span class="featured">Featured</span>
                                </div>

                                <div class="listing-img-content">
                                    <span class="listing-price"><i>{{ trajet[0].cout }} Dt/ seat</i></span>
                                    <span class="like-icon tooltip"></span>
                                </div>

                                <div class="listing-carousel">
                                    <div><img src="{{ asset('bundles/views/images/car-pooling.jpg') }}" alt=""></div>
                                    <div><img src="{{ asset('bundles/views/images/car-pooling.jpg') }}" alt=""></div>
                                    <div><img src="{{ asset('bundles/views/images/car-pooling.jpg') }}" alt=""></div>
                                </div>

                            </a>

                            <div class="listing-content">

                                <div class="listing-title">
                                    <h4><a href="https://www.google.com/maps/dir/{{ trajet[0].depart }}/{{ trajet[0].destination }}" class="listing-address popup-gmaps">
                                        <i class="fa fa-map-pin"></i>
                                        {{ trajet[0].depart }}
                                    </a>
                                        <br>
                                        <a href="https://www.google.com/maps/dir/{{ trajet[0].depart }}/{{ trajet[0].destination }}" class="listing-address popup-gmaps">
                                            <i class="fa fa-map-marker"></i>
                                            {{ trajet[0].destination }}
                                        </a>
                                    </h4>
                                    <p>{{ trajet[0].description }}</p>
                                    <h5><i class="fa fa-calendar"> {{ trajet[0].datedepart|date('d-m-Y') }}</i></h5>
                                </div>

                                <ul class="listing-features">
                                    <li>Cost <span>{{ trajet[0].cout ~ ' Dt' }}</span></li>
                                    <li>Seats <span>{{ trajet[0].nbrplacedispo }}</span></li>
                                    <li>Car <span>{{ trajet['modele'] ~ ' | ' ~ trajet['gamme'] }}</span></li>
                                </ul>

                                <div class="listing-footer">
                                    <a href="#"><i class="fa fa-user"></i> {{ trajet['nom'] }}</a>
                                    {% set difference = date().diff(date(trajet[0].datepub)) %}
                                    {% set leftDays = difference.days %}
                                    {% if leftDays == 1 %}
                                        <span><i class="fa fa-calendar-o"></i> 1 day ago</span>
                                    {% else %}
                                    <span><i class="fa fa-calendar-o"></i>{{ leftDays }} days ago</span>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                    {% endfor %}
                    <!-- Listing Item / End -->
                </div>
            </div>
            <!-- Carousel / End -->

        </div>
    </div>



    <section class="fullwidth border-top margin-top-55 margin-bottom-0 padding-top-60 padding-bottom-65" data-background-color="#ffffff">
        <!-- Logo Carousel -->
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-40 margin-top-10">Join my ride's Partners <span>We all work together to make your Tunisian carpooling experience better!</span></h3>
                </div>

                <!-- Carousel -->
                <div class="col-md-12">
                    <div class="logo-carousel dot-navigation">

                        <div class="item">
                            <img src="bundles/views/images/logo-01.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-02.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-03.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-04.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-05.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-06.png" alt="">
                        </div>

                        <div class="item">
                            <img src="bundles/views/images/logo-07.png" alt="">
                        </div>


                    </div>
                </div>
                <!-- Carousel / End -->

            </div>
        </div>
        <!-- Logo Carousel / End -->
    </section>

{% block footer %}
{{ parent() }}
    <!-- Scripts
================================================== -->
    <script src="{{ asset('bundles/views/scripts/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/chosen.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/magnific-popup.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/rangeSlider.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/slick.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/masonry.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/jquery.jpanelmenu.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/tooltips.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/custom.js') }}"></script>
    <!-- Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKXNneTVr8yaKCVD_sCEFj9CNCtcU85V8&libraries=places&language=en"></script>
    <script src="{{ asset('bundles/views/scripts/infobox.min.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/markerclusterer.js') }}"></script>
    <script src="{{ asset('bundles/views/scripts/maps.js') }}"></script>


    <!-- Style Switcher
    ================================================== -->
    <script src="bundles/views/scripts/switcher.js"></script>

{% endblock %}

{% endblock %}


