{% extends ("@FOSUser/layout.html.twig") %}
    {% block stylesheets %}
		{{ parent() }}
    {% endblock %}

    {% block content %}
        {% block topbody %}
            {{ parent() }}
        {% endblock %}
        
        <script type="text/javascript">
            function updateCitiesFrom() {
                alert ('fuck off');
                jQuery.ajax({
                    url: {{ path('updateCities') }},
                    data:'from='+$("#from").val(),
                    type: "POST",
                    success:function(data){
                        $("#fromC").html(data);
                    },
                    error:function (){}
                });
            }
        </script>



        <!-- Content
        ================================================== -->
        <div class="container">
            <form method="POST">
            <div class="row">

                <!-- Submit Page -->
                <div class="col-md-12">
                    <div class="submit-page">


                        <!-- Section -->
                        <h3>Ride</h3>
                        <div class="submit-section">


                            <!-- Row -->
                            <div class="row with-forms">

                                <!-- Status -->
                                <div class="col-md-6">
                                    <h5>State (Departure)</h5>
                                    <select onchange="updateCitiesFrom()" id="from" name="from" class="chosen-select-no-single" required>
                                        <option label="blank">
                                        {% for state in states %}
                                        <option value="{{ state.id }}">{{ state.state }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- Type -->
                                <div class="col-md-6">
                                    <h5>State (Destination)</h5>
                                    <select onchange="updateCitiesTo()" id="to" name="to" class="chosen-select-no-single" required>
                                        <option label="blank">
                                            {% for state in states %}
                                        <option value="{{ state.id }}">{{ state.state }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <!-- Row / End -->
                            <div class="row with-forms">

                                <!-- Status -->
                                <div class="col-md-6">
                                    <h5>City (Departure)</h5>
                                    <select class="chosen-select-no-single" name="fromC" id="fromC" required>
                                        <option label="blank"></option>
                                        <option value="aze">aze</option>
                                    </select>
                                </div>

                                <!-- Type -->
                                <div class="col-md-6">
                                    <h5>City (Destination)</h5>
                                    <select class="chosen-select-no-single" name="toC" id="toC" required>
                                        <option label="blank"></option>
                                        
                                        <option value="aze">aze</option>
                                    </select>
                                </div>

                            </div>
                            <!-- Row -->
                            <div class="row with-forms">

                                <!-- Rooms -->
                                <div class="col-md-4">


                                </div>

                            </div>
                            <!-- Row / End -->

                        </div>
                        <!-- Section / End -->


                        <!-- Section -->
                        <h3>Gallery</h3>
                        <div class="submit-section">
                            <form action="/file-upload" class="dropzone"></form>
                        </div>
                        <!-- Section / End -->


                        <!-- Section -->
                        <h3>Vehicule</h3>
                        <div class="submit-section">

                            <!-- Row -->
                            <div class="row with-forms">

                                <!-- Address -->
                                <div class="col-md-6">
                                    <h5>Company</h5>
                                    <input type="text" name="company" required>
                                </div>

                                <!-- City -->
                                <div class="col-md-6">
                                    <h5>Serial</h5>
                                    <input type="text" name="serial" required>
                                </div>

                                <!-- City -->
                                <div class="col-md-6">
                                    <h5>Brand</h5>
                                    <input type="text" name="brand" required>
                                </div>

                                <!-- Zip-Code -->
                                <div class="col-md-6">
                                    <h5>Type</h5>
                                    <select name="gamme">
                                        <option>Economical</option>
                                        <option>Medium</option>
                                        <option>Luxurious</option>
                                    </select>
                                </div>

                            </div>
                            <!-- Row / End -->

                        </div>
                        <!-- Section / End -->


                        <!-- Section -->
                        <h3>Detailed Information</h3>
                        <div class="submit-section">

                            <!-- Description -->
                            <div class="form">
                                <h5>Description</h5>
                                <textarea class="WYSIWYG" name="details" cols="40" rows="3" id="summary" spellcheck="true"></textarea>
                            </div>

                            <!-- Row -->
                            <div class="row with-forms">

                                <div class="col-md-4">
                                    <h5>Date of departure</h5>
                                    <input type="date"  name="date_departure" required />
                                </div>

                                <div class="col-md-4">
                                    <h5>Seats</h5>
                                    <input type="number" name="seats" required />
                                </div>

                                <!-- Beds -->
                                <div class="col-md-4">
                                    <h5>Cost</h5>
                                    <input type="number" name="price" data-unit="Person" required/>
                                <!-- cost go here -->
                                </div>

                            </div>
                            <!-- Row / End -->


                            <!-- Checkboxes -->
                            <h5 class="margin-top-30">Other Features <span>(optional)</span></h5>
                            <div class="checkboxes in-row margin-bottom-20">

                                <input id="check-2" type="checkbox" name="security">
                                <label for="check-2">Security enhancement</label>
                            </div>
                            <!-- Checkboxes / End -->
                        </div>
                        <!-- Section / End -->

                        <div class="divider"></div>
                        <button type="submit" class="button preview margin-top-5">Share this ride <i class="fa fa-car"></i></button>
{#
                        <a href="#" class="button preview margin-top-5">Share ride! <i class="fa fa-arrow-circle-right"></i></a>
#}

                    </div>
                </div>

            </div>
            </form>
        </div>











	{% block footer %}
	{{ parent() }}
    <!-- Scripts
================================================== -->
	<script src="{{ asset('bundles/views/scripts/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	{% endblock %}

{% endblock %}