{% extends ("@FOSUser/layoutbackoffice.html.twig") %}

    {% block stylesheets %}
    {{ parent() }}
{#
    <link rel="stylesheet" href="assets/plugins/datatables/css/datatables.min.css" type="text/css">
    <link rel="stylesheet" href="assets/plugins/datatables/css/dataTables.bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/plugins/datatables/Buttons/css/buttons.dataTables.min.css" type="text/css">
#}
    {% endblock %}

{% block content %}

    {% block topbody %}
    {{ parent() }}
    {% endblock %}

    {% block sidemenu %}
    {{ parent() }}
    {% endblock %}

                {% block mainpage %}
                <div class="prtm-page-bar">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item text-capitalize">
                            <h3>Data tables</h3>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Table</a></li>
                        <li class="breadcrumb-item active"><a href="#">Data table</a></li>
                    </ul>
                </div>
                <div class="data-table-style">
                    <div class="prtm-block pos-relative">
                        <div class="prtm-block-title mrgn-b-lg">
                            <div class="caption">
                                <h3 class="text-capitalize">Default</h3>
                            </div>
                            <div class="contextual-link">
                                <div class="dropdown display-ib">
                                    <a href="javascript:;" class="mrgn-l-xs" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg base-dark"></i></a>
                                    <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                                        <li>
                                            <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> <i class="fa fa-pencil"></i> <span class="mrgn-l-sm">Edit </span> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="prtm-block-content">
                            <div class="dataTables_wrapper">
                                <div class="table-responsive">
                                    <table class="table table-hover dataTable" data-table="table-button" data-buttons="['copy', 'csv', 'excel', 'pdf', 'print']">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Departure</th>
                                            <th>Destination</th>
                                            <th>Date</th>
                                            <th>Driver</th>
                                            <th>Car</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for trajet in trajets %}
                                        <tr>
                                            <td>{{ trajet[0].id }}</td>
                                            <td>{{ trajet[0].depart }}</td>
                                            <td>{{ trajet[0].destination }}</td>
                                            <td>{{ trajet[0].datedepart|date('d-m-Y') }}</td>
                                            <td>{{ trajet['nom'] }}</td>
                                            <td>{{ trajet['modele'] ~ ' | ' ~ trajet['matricule'] }}</td>
                                            <td> <a href="https://www.google.com/maps/dir/{{ trajet[0].depart }}/{{ trajet[0].destination }}" target="_blank"><i class="fa fa-cog fa-lg fa-map-marker" aria-hidden="true"></i></a> <a href="#" onclick="confirmDelete({{ trajet[0].id }})" class="mrgn-l-sm"><i class="fa fa-times fa-lg text-danger" aria-hidden="true"></i></a> </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock mainpage %}

            {% block footer %}
                {{ parent() }}
            {% endblock %}

    <script>
     function confirmDelete(id)
     {
         if (confirm("Are you sure you wanna delete this ride?"))
             deleteRide(id);
     }

     function deleteRide(id) {
         $.ajax({
             url: Routing.generate('deleteTrajet'),
             data: 'idTrajet='+id,
             type: 'POST',
             success: function (data) {
                 alert('You have successfully deleted this ride from the database.');

             },
             error: function (data) {
                 alert('Something went wrong!');
             }
         });
     }
    </script>
{% endblock %}