<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
 ================================================== -->
    <title>{% block title %}Join My Ride{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/views/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/views/css/colors/main.css') }}" id="colors">
    {% endblock %}
</head>
<body>
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {# {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
         <a href="{{ path('fos_user_security_logout') }}">
             {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
         </a>#}
    {% else %}
        {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div id="wrapper">


    <!-- Header Container
    ================================================== -->
    <header id="header-container">

        <!-- Topbar -->
        <div id="top-bar">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Top bar -->
                    <ul class="top-bar-menu">
                        <li><i class="fa fa-phone"></i> (123) 123-456 </li>
                        <li><i class="fa fa-envelope"></i> <a href="#"><span class="__cf_email__" data-cfemail="513e3737383234113429303c213d347f323e3c">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a></li>

                    </ul>

                </div>
                <!-- Left Side Content / End -->


                <!-- Left Side Content -->
                <div class="right-side">

                    <!-- Social Icons -->
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
                    </ul>

                </div>
                <!-- Left Side Content / End -->

            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Topbar / End -->


        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo">

                        {% image 'bundles/views/images/logoo.png' %}

                        <img src="{{ asset_url }}" href="index-1.html" alt="Example"/>
                        {% endimage %}
                    </div>


                    <!-- Mobile Navigation -->
                    <div class="menu-responsive">
                        <i class="fa fa-reorder menu-trigger"></i>
                    </div>


                    <!-- Main Navigation -->
                    <nav id="navigation" class="style-1">
                        <ul id="responsive">

                            <li><a href="#">Home</a>

                            </li>

                            <li><a href="#">Listings</a>
                                <ul>
                                    <li><a href="#">List Layout</a>

                                    </li>
                                    <li><a href="#">Grid Layout</a>

                                    </li>
                                    <li><a href="#">Half Map</a>

                                    </li>
                                </ul>
                            </li>

                            <li><a href="#">Features</a>
                                <ul>
                                    <li><a href="#">Single Properties</a>

                                    </li>
                                    <li><a href="#">Search Styles</a>

                                    </li>
                                    <li
                                    </li>
                                    <li><a href="#">Agents</a>

                                    </li>

                                    <li><a href="submit-property.htm">Submit Property</a></li>
                                </ul>
                            </li>

                            <li><a class="current" href="#">Pages</a>
                                <ul>
                                    <li><a href="blog.htm">Blog</a>

                                    </li>

                                </ul>
                            </li>

                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->

                <!-- Right Side Content / End -->
                <div class="right-side">
                    <!-- Header Widget -->
                    <div class="header-widget">
                        <a href="login-register.htm" class="sign-in"><i class="fa fa-user"></i> Log In / Register</a>
                        <a href="submit-property.htm" class="button border">Submit Property</a>
                    </div>
                    <!-- Header Widget / End -->
                </div>
                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="clearfix"></div>
    <!-- Header Container / End -->



    <!-- Titlebar
    ================================================== -->

    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Forum</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li>Forum</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Contact
    ================================================== -->

    <!-- Container -->
    <div class="container">
        <div class="row sticky-wrapper">

            <div class="col-lg-8 col-md-8">
                <h4 class="headline">Partenariat</h4>
                <div> <a href="{{ path('forum_new') }}"> <input type="submit" value="Create"></a> </div>

                <div class="row margin-bottom-15">
                    <div class="col-md-6">
                        <!-- Layout Switcher -->
                        <div class="layout-switcher">
                            <a href="#" class="list"><i class="fa fa-th-list"></i></a>
                            <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
                        </div>
                    </div>
                </div>
                {% for publicationForum in publicationForums %}
                    <!-- Listings -->
                    <div class="listings-container list-layout">

                        <!-- Listing Item -->
                        <div class="listing-item">

                            <a href="#" class="listing-img-container">

                                <div class="listing-badges">


                                </div>

                                <div class="listing-img-content">

                                </div>

                                <div class="listing-carousel">

                                    <div><img src="{{ asset(vich_uploader_asset(publicationForum,'imageFile')) }}"></div>
                                </div>
                            </a>

                            <div class="listing-content">

                                <div class="listing-title">
                                    <h4><a href="{{ path('forum_show', { 'id': publicationForum.idPub }) }}">{{ publicationForum.titre }}</a></h4>
                                    <a
                                            {% if publicationForum.date %}{{ publicationForum.date|date('Y-m-d') }}{% endif %} >
                                    </a>

                                    <a href="{{ path('forum_show', { 'id': publicationForum.idPub }) }}" class="details button border">Details</a>


                                </div>

                                <ul class="listing-details">
                                    <li>{{ publicationForum.contenu }}</li>
                                    <li><div class="text-box">

                                            <div>
                                        <span class="rating1" style="height: 43px">

                            <a   href="{{path('noterpubpart', {'id': publicationForum.idPub ,'note':1})}}"  >
                                <img src="{{ asset('bundles/views/images/star.png') }}"width="5%" height="5%">
                            </a>

                            <a  href="{{path('noterpubpart', {'id': publicationForum.idPub ,'note':2})}}" >
                                <img src="{{ asset('bundles/views/images/star.png') }}" width="5%" height="5%">

                            </a>

                            <a  href="{{path('noterpubpart', {'id': publicationForum.idPub ,'note':3})}}" >
                                <img src="{{ asset('bundles/views/images/star.png') }}"width="5%" height="5%">
                            </a>

                            <a  href="{{path('noterpubpart', {'id': publicationForum.idPub ,'note':4})}}"  >
                               <img src="{{ asset('bundles/views/images/star.png') }}"width="5%" height="5%">
                            </a>

                            <a  href="{{path('noterpubpart', {'id': publicationForum.idPub ,'note':5})}}" >
                               <img src="{{ asset('bundles/views/images/star.png') }}"width="5%" height="5%">
                            </a>






  <font color="#FF8000">  {{ publicationForum.note|number_format(1, '.', ',')}}</font>
                        </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div class="listing-footer">
                                    <a href="{{ path('signe', { 'id': publicationForum.idPub }) }}" class="details button border">Signaler</a>
                                    <a href="#"><i class="fa fa-user"></i> {{publicationForum.idPersonne}}</a>

                                </div>

                            </div>

                        </div>
                        <!-- Listing Item / End -->
                    </div>
                {% endfor %}
                <!-- Pagination -->
                <div class="pagination-container margin-top-20">
                    <nav class="pagination">
                        <ul>
                            <li><a href="#" class="current-page">1</a></li>
                            <li><a href="#">2</a></li>
                        </ul>
                    </nav>

                    <nav class="pagination-next-prev">
                        <ul>
                            <li><a href="#" class="prev">Previous</a></li>
                            <li><a href="#" class="next">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination / End -->

            </div>

        </div>

    </div>



    <!-- Footer
================================================== -->
    <div class="margin-top-55"></div>

    <div id="footer">
        <!-- Main -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    {% image 'bundles/views/images/logo.png' %}

                    <img src="{{ asset_url }}" href="index-1.html"  class="footer-logo" alt="Example"/>
                    {% endimage %}

                    <br><br>
                    <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
                </div>

                <div class="col-md-4 col-sm-6 ">
                    <h4>Helpful Links</h4>
                    <ul class="footer-links">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Add Property</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                    <ul class="footer-links">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Our Agents</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-3  col-sm-12">
                    <h4>Contact Us</h4>
                    <div class="text-widget">
                        <span>12345 Little Lonsdale St, Melbourne</span> <br>
                        Phone: <span>(123) 123-456 </span><br>
                        E-Mail:<span> <a href="#"><span class="__cf_email__" data-cfemail="315e5757585254715449505c415d541f525e5c">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a> </span><br>
                    </div>

                    <ul class="social-icons margin-top-20">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                        <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                    </ul>

                </div>

            </div>

            <!-- Copyright -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
                </div>
            </div>

        </div>

    </div>
    <!-- Footer / End -->


    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>


    <!-- Scripts
    ================================================== -->
    {% javascripts 'bundles/views/scripts/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/views/scripts/switcher.js') }}" />

    <div id="style-switcher">
        <h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>

        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="blue" title="Blue"></a></li>
                <li><a href="#" class="green" title="Green"></a></li>
                <li><a href="#" class="orange" title="Orange"></a></li>
                <li><a href="#" class="navy" title="Navy"></a></li>
                <li><a href="#" class="yellow" title="Yellow"></a></li>
                <li><a href="#" class="peach" title="Peach"></a></li>
                <li><a href="#" class="beige" title="Beige"></a></li>
                <li><a href="#" class="purple" title="Purple"></a></li>
                <li><a href="#" class="celadon" title="Celadon"></a></li>
                <li><a href="#" class="pink" title="Pink"></a></li>
                <li><a href="#" class="red" title="Red"></a></li>
                <li><a href="#" class="brown" title="Brown"></a></li>
                <li><a href="#" class="cherry" title="Cherry"></a></li>
                <li><a href="#" class="cyan" title="Cyan"></a></li>
                <li><a href="#" class="gray" title="Gray"></a></li>
                <li><a href="#" class="olive" title="Olive"></a></li>
            </ul>
        </div>

    </div>
    <!-- Style Switcher / End -->


</div>
</body>
</html>