{% extends "@FOSUser/layout.html.twig" %}

  {% block liste_feed %}
      <a href="{{ path('liste') }}">Liste des Commentaires</a>

  {% endblock liste_feed %}


{% block fos_user_content %}


    <div class="listings-container list-layout">


        {% for m in trajet %}
            <!-- Listing Item -->
            <div class="listing-item">

                <div class="listing-content">

                    <div class="listing-title">
                        <h4><a href="single-property-page-1.htm"> Trajet</a></h4>

                        <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                            <i class="fa fa-map-marker"></i>
                            Destination :{{ m.destination }}
                        </a>
                        <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                            <i class="fa fa-map-marker"></i>
                            Depart :{{ m.depart }}
                        </a>

                        <a href="{{ path('hey' ,{'id': m['id']  }) }}" class="details button border">Commenter</a>
                    </div>

                    <ul class="listing-details">
                        <li>Description :{{ m.description }}</li>
                        <li>Cout :{{ m.cout }}</li>

                    </ul>

                    <div class="listing-footer">
                        <a href="#"><i class="fa fa-user"></i> membre :{{ m.nom }} </a>
                        <span><i class="fa fa-calendar-o"></i> date de départ :{{ m.datedepart|date('d-m-Y') }}</span>
                    </div>

                </div>

            </div>
            <!-- Listing Item / End -->
        {% endfor %}

    </div>
    <!-- Listings Container / End -->



{% endblock fos_user_content %}