{% extends "@FOSUser/layoutbackoffice.html.twig" %}
{% block sidebar %}
    <div class="prtm-sidebar">
        <div class="prtm-sidebar-back"> </div>
        <div class="prtm-sidebar-nav-wrapper">
            <div class="prtm-sidebar-menu">
                <nav class="sidebar-nav collapse">
                    <ul class="list-unstyled sidebar-menu">
                        <li class="sidenav-heading text-uppercase">Dashboards</li>
                        <li class="has-children active opened"><a href="{{ path('homeBack') }}"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Services après réservation</span></a>
                            <ul class="list-unstyled sub-menu">
                                <li><a href="{{ path('EventBack') }}" ><span>Evenement</span></a></li>
                                <li><a href="{{ path('FeedbackBack') }}"><span>Feedback</span></a></li>
                                <li><a href="{{ path('cadeauBack') }}"><span>Cadeau</span></a></li>
                                <li><a href="{{ path('statBack') }}"><span>Statistiques</span></a></li>

                            </ul>
                        </li>

                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endblock sidebar %}

{% block lou %}


{% endblock lou %}